{% load account %}
<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="Thirteenth navbar example"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarsExample11"
      aria-controls="navbarsExample11"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-lg-flex" id="navbarsExample11">
      <a class="navbar-brand col-lg-3 me-0" href="#">Recommender</a>
      <ul class="navbar-nav col-lg-6 justify-content-lg-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:list' %}">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'movies:popular' %}">Popular Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'movies:infinite' %}" >Infinite Reviews</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Dropdown</a
          >
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      <div class="d-lg-flex col-lg-3 justify-content-lg-end">
        {% if user.is_authenticated %}
        <div class="dropdown">
          <button
            class="btn btn-secondary fw-bold dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {% user_display user %}
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </div>
        {% else %}
        <button class="btn btn-dark w-50">Login</button>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
